# vim:ft=systemd:
# man:systemd.unit(5)
# man:systemd.target(5)
# man:systemd.special(7)
# file:$XDG_CONFIG_HOME/systemd/user/labwc-session.target
#==============================================================================#


[Unit]
Description=Graphical session with labwc
Documentation=man:systemd.special(7)
Documentation=man:labwc(1)

PartOf=graphical-session.target
Requires=graphical-session-pre.target graphical-session.target
After=graphical-session-pre.target graphical-session.target


#==============================================================================#
#                                 END OF FILE                                  #
#==============================================================================#
